<h2>Ask your question</h2>
<form action="/answer" method="GET">
  <div class="form-group">
    <input type="text" class="form" name="ask" placeholder="ASk your question">
  </div>
  <div>
    <button type="submit" class="btn btn-success">Ask!</button>
  </div>
</form>
